<!--<c-footer>-->
  <footer>

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 drop-shadow-lg">
            <i class="fas fa-gem me-3"></i>LRD Public SCHOOL
          </h6>
          <img src="./assets/LRD_Logo.svg" routerLink="./dashboard">
       </div>
        <!-- Grid column -->

        <!-- Grid column -->
       
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 drop-shadow-lg">
            Quick links
          </h6>
          <p>
            <a href="#!" class="text-reset">Home</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Gallery</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Registration</a>
          </p>
          <p>
            <a href="#!" class="text-reset">About Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 drop-shadow-lg">
            Contact
          </h6>
          
          <p><i class="fas fa-home me-3"></i> 
            Town Pather, P.O. Barthakayasth,
            District Saharanpur, Uttar Pradesh,
            India, PIN-247231
            </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            lrdpublicschoolpather&#64;example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +91-741-723-1985</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <section class="flex justify-center items-center p-4 border-bottom drop-shadow-lg">

  <div class="space-x-6 ">
    <a cNavLink>
      <svg cIcon class="my-1" name="cib-facebook" size="xxl"></svg>
    </a>
    <a cNavLink>
      <svg cIcon class="my-1" name="cib-linkedin" size="xxl"></svg>
    </a>
    <a cNavLink>
      <svg cIcon class="my-1" name="cib-twitter" size="xxl"></svg>
    </a>
  
   
  </div>
  
</section>
<section>
  <div class="text-center p-4 drop-shadow-lg" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold drop" href="https://mdbootstrap.com/">LRD Public School</a>
  </div>
</section>
  </footer>


