<div class="flex items-center justify-center min-h-screen bg-gray-light">
  <div class="bg-white p-10 rounded-lg shadow-lg text-center space-y-4">
    <h1 class="text-4xl font-bold text-maroon mb-4">Success!</h1>
    <p class="text-lg text-gray-dark mb-6">Attendance Submitted Successfully.</p>
    <div>
      <button style="background-color: maroon; color: white;" class="px-4 py-2 rounded hover:bg-gray-dark transition duration-300" routerLink="/theme/editattendance">
        Edit Attendance
      </button>
    </div>
    <div>
      <button style="background-color: maroon; color: white;" class="px-4 py-2 rounded hover:bg-gray-dark transition duration-300" routerLink="/dashboard">
        Go to Homepage
      </button>
    </div>
    </div>
</div>
       

   
