
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

    <div class="container" >

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block"><img  src="./assets/LRD_Logo.svg" ></div>
                            <div class="col-lg-6">
                                <div class="p-5 space-y-5">
                                    <div class="text-center">
                                        <h1 style="font: size 3xl;" class="h4 mb-4"><strong>Login!</strong></h1>
                                    </div>
                                    <form action="#" >
                                        <div class="form-group">
                                            <c-input-group class="mb-3">
                                                <span cInputGroupText>
                                                  <svg cIcon name="cilUser"></svg>
                                                </span>
                                                <input autoComplete="Email" name="Email.Id" [(ngModel)]="loginObj.email" cFormControl required placeholder="Email" />
                                              </c-input-group>
                                              <c-input-group class="mb-4">
                                                <span cInputGroupText>
                                                  <svg cIcon name="cilLockLocked"></svg>
                                                </span>
                                                <input
                                                  autoComplete="Password"
                                                  cFormControl
                                                  name="Password"
                                                  placeholder="Password"
                                                  type="password"
                                                  required
                                                  [(ngModel)]="loginObj.password"
                                                />
                                              </c-input-group>
                                        </div>
                                        <div class="flex justify-center items-center">
                                            <input type="button" (click)="onLogin()" value="Login" style="background-color: maroon;color: white;"  class="btn btn-user btn-block">
                                        </div>         
                                    </form>
                                    <hr>                         
                                        <div class="text-center">
                                            <a class="small font-bold" routerLink="/forgot-password">Forgot Password? <br> Click Here! </a>
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div> 
    <section>
        <div class="text-center p-4 drop-shadow-lg" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2023 Copyright:
          <a class="text-reset fw-bold drop" href="https://mdbootstrap.com/">LRD Public School</a>
        </div>
      </section>

</body>

</html>